.person-detail-name {
   font-weight: bold;
  font-family: 'PT Serif', serif;
  font-size: 1.5rem;
  padding:20px;
}
.person-detail-icons{
  color: #0f0fc7;
}
.person-details{
  font-size: 1.2rem;
  font-weight: 500;
}
.person-edit-button{
  //background-color: cadetblue !important;
  //color: #0f0fc7;
  height: 5rem;
  width: 80%;
  font-family: 'PT Serif', serif;
  font-size: 1.2rem;
}